---
---

@charset "utf-8";

@import "variables", "mixins";

// Navigation
.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;

    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }

    .navbar-header .navbar-text {
        color: $theme-primary;
        @include sans-serif-font;
        font-size: 14px;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
            text-decoration: none;
        }
    }

    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;

                &:hover {
                    color: $theme-primary;
                }
            }

            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
