---
title: About
description: the past, present, and future of this website
layout: default
permalink: /about/
---

<section class="wrapper style5">
    <div class="inner">
        <h3>The Basics</h3>
        <p><strong>PugChamp</strong> was conceived in December 2015 as a successor to <em>tf2pug.me</em>, a similar web-based draft-organized PUG system. It aimed to not only recreate the same functionality but add to it with features like ratings and automated servers.</p>
        <p>After a rapid month of development, the service went into open alpha in late January 2016. Rapid testing and refinements let the system move into beta in mid-February, where it currently sits as further enhancements and changes are made to perfect the concept.</p>
    </div>
</section>
<section class="wrapper style1">
    <div class="inner">
        <h3>Staff</h3>

        {% for group in site.data.staff %}
            <h4>{{group.group}}</h4>

            <ul class="alt">
                {% for member in group.members %}
                    <li><em>{{member.name}}</em>, {{member.title}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</section>
<section class="wrapper style3">
    <div class="inner">
        <h3>Support</h3>
        <p>Running a complex system like PugChamp isn't free, and we could always use some help to keep the servers running.</p>

        <ul class="actions">
            <li><a href="https://www.patreon.com/champgg" class="button special icon fa-patreon">Patreon</a></li>
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4HMPXHDG2QG3N" class="button special icon fa-paypal">PayPal</a></li>
            <li><a href="http://steamcommunity.com/id/erynn" class="button special icon fa-steam">Items</a></li>
            <li><a href="mailto:pugchamp@champ.gg" class="button special icon">Other</a></li>
        </ul>

        <h4>Sponsors</h4>
        <span class="image"><img src="{{ "/assets/img/sponsors/tragicservers.png" | prepend: site.baseurl }}" alt="" /></span>
        <span class="image"><img src="{{ "/assets/img/sponsors/fakkelbrigade.jpg" | prepend: site.baseurl }}" alt="" /></span>
    </div>
</section>
