<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Support PugChamp</h2>
                <hr class="light">
                <p class="text-faded">PugChamp relies on the community's support to keep its services running. Donate to our Patreon or Paypal to help out with the system's costs. Game server donations are also welcomed.</p>
                <a href="https://www.patreon.com/champgg" class="btn btn-default btn-xl">Patreon</a>
                <a href="https://www.patreon.com/champgg" class="btn btn-default btn-xl">PayPal</a>				
            </div>
        </div>
    </div>
</section>
