<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PugChamp Leagues</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box"><a href="http://dev.pug.champ.gg/">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i></a>
                    <h3>NA Open</h3>
                    <p class="text-muted">An NA league open to all players</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-muted" data-wow-delay=".1s"></i>
                    <h3 class="text-muted">NA Pro</h3>
                    <p class="text-muted">Coming Soon: A NA Pro league open to the top players in North America</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-muted" data-wow-delay=".2s"></i>
                    <h3 class="text-muted">EU Open</h3>
                    <p class="text-muted">Coming Soon: An EU league open to all players</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-muted" data-wow-delay=".3s"></i>
                    <h3 class="text-muted">EU Pro</h3>
                    <p class="text-muted">Coming Soon: A EU Pro league open to the top players in Europe</p>
                </div>
            </div>
        </div>
    </div>
</section>
